.bg-1{
	background-color: darkgreen;
	color:#ffffff;

}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

#black{
	color:black;
}

.go-right{
	float: right;
}

a {
    text-decoration: underline;
}

#white{
	color:white;
	float: right;
}

.center {
    position: fixed;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-color: transparent;
}

#rounded-box{
 
    background: #ffffff;
    padding: 20px;
    width: 1000px;
    height: 25px;
    margin-left: 140px;
   
}


.btn{
    background-color: #2f7840;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-right: 140px;
    height: 42px;
}


.btn:hover, .btn:active {
    background-color: green;
}


